{% extends "layouts/base.html" %}

{% block content %}
    <h1>Welcome to the PL Match Predictor!</h1>
    <p>
		Using data scraped from various websites, such as transfermarkt.com, the official Premier League Website, and Whoscored.com, I have
		put together a predictive model that is able to predict the result of football matches (Home Win, Away Win, or Draw), with an accuracy of ~57%.
	</p>
	<p>	
		In addition to being helpful for staying on top of your fantasy football league, and allowing you to amaze your friends with your predictions,
		the model can also help you make money betting.
	</p>
	<p>
		Using betting odds taken from Bet365, if you were to bet $1 on every game from the 2022/23 season using the model's advice, you get a 
		~15% return on your total investment. By comparison, the S&P 500 typically returns 5-10% yearly.
	</p>
	<p>
		Disclaimer: Nothing on this website is intended to be betting advice
		
        
    </p>
{% endblock %}